<!DOCTYPE html>
<html>
  <head>
    <link href="/images/favicon.ico" rel="shortcut icon"/>
    <TITLE>Feelogg - makes you happy!</TITLE>
    <%= stylesheet_link_tag "main" %>
    <%= javascript_include_tag  'http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js' %>
    <%= javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jqueryui/1.7/jquery-ui.min.js' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag 'jquery.simplemodal.1.4.1.min' %>
    <%= javascript_include_tag 'jquery.elastic' %>
    <script language="JavaScript">
      $(document).ready(function() {
        $(".bg").css({width: $(window).width() + "px", height: $(window).height() + "px", overflow:"hidden"});
        $("#bg").css({width: $(window).width() + "px"});
      });
    </script>
    <%= yield :head %>
    <%= csrf_meta_tag %>
  </head>
  <body>
    <div id="fb-root"></div>
    <div class="wrapper">
      <div class="top">
        <span id='top-logo'><img src="/images/Feeloggo32.gif" onclick="switchView(0)" style="cursor:pointer"></span>
        <div class="logo">
            <span class="mt">Feelogg</span> <span class="st">makes you happy</span>
        </div>
        <div class="toc">
          <ul>
            <li><a href="#" id='menu-0' class="on" onclick="switchView(0)">Home</a></li>
            <li><a href="#" id='menu-1' onclick="switchView(1)">MyFeelogg</a></li>
            <li><a href="#" id='menu-3' onclick="switchView(3)">Dr.FeelGood</a></li>
            <li><a href="#" id='menu-2' onclick="switchView(2)">Settings</a></li>
            <li id="logout"><a href="<%=  logout_path %>">Logout</a></li>
          </ul>
        </div>
      </div>
      <div class="container">
        <div class="rc-top">
            <div class="rc-top-lc"></div>
            <div class="rc-top-rc"></div>
        </div>
            <%= yield %>
        <div class="rc-bot">
            <div class="rc-bot-rc"></div>
            <div class="rc-bot-lc"></div>
        </div>
        <div class="credit">
			Feelogg &copy; 2011 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a href="" class="credit">About Us</a>  :  <a href="" class="credit">Contact</a>  :  <a href="" class="credit">Blog</a>  :  <a href="" class="credit">API</a>  :   <a href="" class="credit">Help</a>  :  <a href="" class="credit">Jobs</a>  :  <a href="" class="credit">Terms</a>  :  <a href="" class="credit">Privacy</a>
        </div>
      </div>
    </div>
  </body>
</html>
