<!DOCTYPE html>
<html>
  <head>
    <title>Mooderator</title>
    <%= stylesheet_link_tag "main" %>
    <%= javascript_include_tag  'http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js' %>
    <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.10/jquery-ui.min.js" %>
    <%= javascript_include_tag "rails.js" %>
    <%= javascript_include_tag 'application' %>
    <%= yield :head %>
    <%= csrf_meta_tag %>
  </head>
  <body class="main">
    <div id="doc" class="route-home">
      <div id="top-stuff">
        <div id="banners" style="clear:both;"></div>
        <div id="top-bar-outer">
          <div id="top-bar-bg"></div>
          <div id="top-bar">
            <div class="top-bar-inside">
              <div class="static-links">
                <div id="logo"></div>
                <div id="global-nav">
                  <ul>
                    <li id="global-nav-home" class="active">
                      <a href="<%=  new_user_mood_path(@user) %>">Home</a>
                    </li>
                    <li id="global-nav-graph" class="active">
                      <a href="<%=  user_moods_path(@user)+'graph'%> ">Feelog Graph</a>
                    </li>
                    <li id="global-nav-log" class="active">
                      <a href="<%=  user_moods_path(@user)+'graph'%>">My Feelog</a>
                    </li>
                    <li id="global-nav-Profile" class="active">
                      <a href="<%=  user_path(@user) %>">My Account</a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="active-links"></div>
            </div>
          </div>
          <div id="message-drawer"></div>
        </div>
      </div>
      <div id="page-outer">
        <div id="page-container" class="home-container">
            <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
