<!DOCTYPE html>
<html>
  <head>
    <link href="/images/favicon.ico" rel="shortcut icon"/>
    <TITLE>Feelog - makes you happy!</TITLE>
    <%= stylesheet_link_tag "main" %>
    <%= javascript_include_tag  'http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js' %>
    <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.10/jquery-ui.min.js" %>
    <%= javascript_include_tag "rails.js" %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag 'jquery.simplemodal.1.4.1.min' %>


    <script language="JavaScript">
      $(document).ready(function() {
        $(".bg").css({width: $(window).width() + "px", height: $(window).height() + "px", overflow:"hidden"});
        $("#bg").css({width: $(window).width() + "px"});
      });
    </script>
    <%= yield :head %>
    <%= csrf_meta_tag %>
  </head>
  <body>
    <div class="wrapper">
      <div class="top">
        <div class="logo">
          <span class="mt">Feelog</span> <span class="st">makes you happy</span>
        </div>
        <div class="toc">
          <ul>
            <li><a href="<%=  new_user_mood_path(@user) %>" class="on">Home</a></li>
            <li><a href="<%=  user_moods_path(@user)%>">MyFeelog</a></li>
            <li><a href="">Dr.FeelGood</a></li>
            <li><a href="<%=  user_path(@user) %>">Profile</a></li>
            <li id="logout"><a href="<%=  logout_path %>">Logout</a></li>
          </ul>
        </div>
      </div>
      <div class="container">
        <div class="rc-top"></div>
            <%= yield %>
        <div class="rc-bot"></div>
        <div class="credit"> 
			Feelog &copy; 2011 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a href="" class="credit">About Us</a>  :  <a href="" class="credit">Contact</a>  :  <a href="" class="credit">Blog</a>  :  <a href="" class="credit">API</a>  :   <a href="" class="credit">Help</a>  :  <a href="" class="credit">Jobs</a>  :  <a href="" class="credit">Terms</a>  :  <a href="" class="credit">Privacy</a>
        </div>
      </div>
    </div>
  </body>
</html>
