<% content_for :head do %>
  <%= javascript_include_tag 'graph' %>
  <%= javascript_include_tag 'highcharts' %>
  <%= javascript_include_tag 'jqcloud-0.1.8.min.js' %>
  <%= stylesheet_link_tag "jqcloud.css" %>
  <% if @fb == true %>
    <%= stylesheet_link_tag "main-fb.css" %>
    <script src="http://connect.facebook.net/en_US/all.js"></script>
  <% end %>
  <script type="text/javascript">
    var chart;
    var name = '<b><%=@user.username%></b>';

    $(document).ready(function() {
      $('body').data('norm',0);
      prepareMoodIcons();
      $('body').data('userid',<%= @user.id.to_s %>);
      $('body').data('picture','<%= @picture %>');
      $('body').data('moods_path','<%= user_moods_path(@user)%>');
      renderMoods('<%= user_moods_path(@user)%>');
      renderFriends('<%= '/users/'+@user.id.to_s+'/friends' %>');
      renderHappyCloud();
      $('body').data('cloud',0);
      $('body').data('gloomy-cloud',0);
      // Setup the ajax indicator
      $('.actions').append('<div id="ajax-busy" class="fl"><img src="/images/ajax-loader.gif"></div>');
      <% if @fb == true %>
        FB.init();
        FB.CanvasClient.setCanvasHeight(700);
      <% end %>
    });
  </script>
<% end %>
<% if @fb == true %>
   <div id="fb-root"></div>
<% end %>
<div class="content">
  <div class="left-side">
    <div class="feelog-input">
      <%= render 'report' %>
    </div>
    <div class="hf">my recent feelings</div>
    <div id="moods-graph" class="moods-graph" style='width: 370px; height: 170px;'>
        <div class="mdl"><img src="/images/ajax-loader.gif"/></div>
    </div>
    <div class="graph-control">
        <span style="color:#8064A2">
           <img src="/images/IconLeft.gif" onclick="olderFeelings()"/>
           previous
        </span>
        <span style="visibility:hidden;color:#8064A2;padding-left:10px">
           <img src="/images/zoomIn.png" onclick="zoomOut()"/>
           zoom in
        </span>
        <span style="visibility:hidden;color:#8064A2;padding-right:10px;padding-left:50px">
           zoom out
            <img src="/images/zoomOut.png" onclick="zoomIn()"/>
        </span>
        <span style="color:#8064A2" >
            next
            <img src="/images/IconRight.gif" onclick="newerFeelings()"/>
        </span>
    </div>
    <div>
      <div class="hf">did you know?</div>
      <div class="dyk">
        <ul>
          <li>You are usually happy on Wednesdays<br/>
            <a href="">Share</a>  :  <a href="">Advice from Dr. FeelGood</a></li>
          <li>When you are sad, Dana is usually happy<br/>
            <a href="">Share</a>  :  <a href="">Advice from Dr. FeelGood</a></li>
          <li>You are usually cheerful in Tel Aviv<br/>
            <a href="">Share</a>  :  <a href="">Advice from Dr. FeelGood</a></li>
          <li>Work affects your mood negatively 65% of the time<br/>
            <a href="">Share</a>  :  <a href="">Advice from Dr. FeelGood</a></li>
          <li>You are likely to be edgy tomorrow<br/>
            <a href="">Share</a>  :  <a href="">Advice from Dr. FeelGood</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="right-side">
    <div class="mys">
      <div class="fl2"><img src=<%= "'"+ @picture +"'"%>/></div>
      <div id="usr-status"></div>
      <div id="usr-report"></div>
    </div>
    <div class="sl">
      <div class="slt">
        Treat yourself to dinner and movie at Cinema City. Only $29.95! <a href="">Click here</a>
      </div>
    </div>

    <div class="act">warm up with <span class="happy">Happy</span> friends</div>
    <div id="happy-friends" class="friends-action">
        <div class="frl"><img src="/images/ajax-loader.gif"/></div>
    </div>

    <div class="act">cheer up your <span class="gloomy">Gloomy</span> friends</div>
    <div id="gloomy-friends" class="friends-action">
        <div class="frl"><img src="/images/ajax-loader.gif"/></div>
    </div>

    <div class="act">my <span class="gloomy cloud hidden">Gloomy</span> <span class="happy cloud">Happy</span> Tags
        <span class="cloud-toggle">
           <img src="/images/IconRight.gif" onclick="changeCloud()"/>
        </span>
    </div>
    <div id="happy-tag-cloud" class="cloud" style="width: 285px; height: 125px;position:relative"></div>
    <div id="gloomy-tag-cloud" class="cloud hidden" style="width: 285px; height: 125px;position:relative"></div>
  </div>
</div>


