<% content_for :head do %>
  <%= javascript_include_tag 'graph' %>
  <%= javascript_include_tag 'highcharts' %>
  <%= javascript_include_tag 'jqcloud-0.1.8.min.js' %>
  <%= stylesheet_link_tag "jqcloud.css" %>
  <script src="http://connect.facebook.net/en_US/all.js"></script>
  <% if @fb == true %>
    <%= stylesheet_link_tag "main-fb.css" %>
  <% end %>

  <script type="text/javascript">
    var chart;
    var name = '<b><%=@user.username%></b>';

    $(document).ready(function() {
      $('body').data('norm',0);
      prepareMoodIcons();
      $('body').data('userid',<%= @user.id.to_s %>);
      $('body').data('picture','<%= @picture %>');
      $('body').data('moods_path','<%= user_moods_path(@user)%>');
      renderMoods('<%= user_moods_path(@user)%>');
      renderFriends('<%= '/users/'+@user.id.to_s+'/friends' %>');
      renderHappyCloud();
      $('body').data('cloud',0);
      $('body').data('gloomy-cloud',0);
      // Setup the ajax indicator
      $('.actions').append('<div id="ajax-busy" class="fl"><img src="/images/ajax-loader.gif"></div>');
      FB.init({
              appId  : '187063221337398',//'136471399753143',//
              status : true, // check login status
              cookie : true, // enable cookies to allow the server to access the session
              xfbml  : true  // parse XFBML
      });
      <% if @fb == true %>
        FB.CanvasClient.setCanvasHeight(700);
      <% end %>
    });
  </script>
<% end %>
<div id="fb-root"></div>
<div class="content">
  <div class="left-side">
    <div class="feelog-input">
      <%= render 'moods/report' %>
    </div>
    <div class="hf">my recent feelings</div>
    <div id="moods-graph" class="moods-graph" style='width: 380px; height: 200px;'>
        <div class="mdl"><img src="/images/ajax-loader.gif"/></div>
    </div>
    <div class="graph-control">
        <span id="prev" class="traversal graph-control-left" onclick="olderFeelings()">
           <img class="control-img" src="/images/IconLeft.gif"/>
           <span class="control-text">previous</span>
        </span>
        <span class="graph-control-middle">
            <span id="zoom-in" class="zoom" onclick="zoomIn()">
               <img class="control-img" src="/images/zoomIn.png" />
               <span class="control-text">zoom in</span>
            </span>
            <span id="zoom-back" class="back-to-zoom hidden" onclick="backToZoom()">
               back to zoom
            </span>
            <span id="zoom-out" class="zoom" onclick="zoomOut()">
                <img class="control-img" src="/images/zoomOut.png" />
                <span class="control-text">zoom out</span>
            </span>
        </span>
        <span id="next" class="traversal graph-control-right"  onclick="newerFeelings()">
            <span class="control-text">next</span>
            <img class="control-img" src="/images/IconRight.gif"/>
        </span>
    </div>
    <div>
      <div class="hf">did you know?</div>
      <div class="dyk">
        <ul>
          <li>You are usually happy on Wednesdays<br/>
            <a href="">Share</a>  :  <a href="">Advice from Dr. FeelGood</a></li>
          <li>When you are sad, Dana is usually happy<br/>
            <a href="">Share</a>  :  <a href="">Advice from Dr. FeelGood</a></li>
          <li>You are usually cheerful in Tel Aviv<br/>
            <a href="">Share</a>  :  <a href="">Advice from Dr. FeelGood</a></li>
          <!--li>Work affects your mood negatively 65% of the time<br/>
            <a href="">Share</a>  :  <a href="">Advice from Dr. FeelGood</a></li>
          <li>You are likely to be edgy tomorrow<br/>
            <a href="">Share</a>  :  <a href="">Advice from Dr. FeelGood</a></li-->
        </ul>
      </div>
    </div>
  </div>
  <div class="right-side">
    <div class="mys">
      <div class="fl2"><img src=<%= "'"+ @picture +"'"%>/></div>
      <div id="usr-status"></div>
      <div id="usr-report"></div>
    </div>
    <div class="sl">
      <div class="slt">
        Treat yourself to dinner and movie at Cinema City. Only $29.95! <a href="">Click here</a>
      </div>
    </div>
    <div id="happy-friends-widget"class="friends-control">
        <div class="act">warm up with <span class="happy">Happy</span> friends</div>
        <div id="happy-friends" class="friends-action">
            <div class="frl"><img src="/images/ajax-loader.gif"/></div>
        </div>
        <div class="hidden" id="happy-friends-control">
            <br>
            <span class="traversal friends-control-left">
                 <img class="control-img" src="/images/IconLeft.gif" onclick="prevFriends('happy')"/>
                <span class="control-text">previous</span>
            </span>
            <span class="traversal friends-control-right">
                <span class="control-text">next</span>
                <img class="control-img" src="/images/IconRight.gif" onclick="nextFriends('happy')"/>
            </span>
        </div>
    </div>
    <div id="gloomy-friends-widget" class="friends-control">
        <div class="act">cheer up your <span class="gloomy">Gloomy</span> friends</div>
        <div id="gloomy-friends" class="friends-action">
            <div class="frl"><img src="/images/ajax-loader.gif"/></div>
        </div>
        <div class="hidden" id="gloomy-friends-control">
            <br>
            <span class="traversal friends-control-left">
               <img src="/images/IconLeft.gif" onclick="prevFriends('gloomy')"/>
                <span class="control-text">previous</span>
            </span>
            <span class="traversal friends-control-right">
                <span class="control-text">previous</span>
                <img src="/images/IconRight.gif" onclick="nextFriends('gloomy')"/>
            </span>
        </div>
    </div>
    <div class="tag-cloud">
        <div class="act">my <span onclick="changeCloud()" class="gloomy cloud hidden">Gloomy &#9662 </span> <span onclick="changeCloud()" class="happy cloud">Happy &#9662 </span> Tags</div>
        <div id="happy-tag-cloud" class="cloud" style="width: 285px; height: 125px;position:relative"></div>
        <div id="gloomy-tag-cloud" class="cloud hidden" style="width: 285px; height: 125px;position:relative"></div></div>
    </div>
</div>


