<p id="notice"><%= notice %></p>

<p>
  <b>Mood:</b>
  <%= @mood.mood %>
</p>

<p>
  <b>User:</b>
  <%= @mood.user_id %>
</p>

<p>
  <b>Desc:</b>
  <%= @mood.desc %>
</p>

<p>
  <b>Lat:</b>
  <%= @mood.lat %>
</p>

<p>
  <b>Lon:</b>
  <%= @mood.lon %>
</p>

<p>
  <b>Report time:</b>
  <%= @mood.report_time %>
</p>

<p>
  <b>Url:</b>
  <%= @mood.url %>
</p>


<%= link_to 'Edit', edit_user_mood_path(@user, @mood) %> |
<%= link_to 'Back', user_moods_path %>
